body {
    background-color: #2e2e2e;
    color: white;
    font-family: Helvetica, sans-serif;
}

header {
    text-align: center;
    width: 100%;
}

nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.panel {
    text-align: center;
    margin: 10px;
}
.manual {
    text-align: left;
    padding: 10px;
    margin: 20px;
}

.nav-link {
    border: lightgray;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

a.nav-link:link
{
   color: black;
   font: bold;
   text-decoration: none;
}
a.nav-link:visited
{
   color: indigo;
   font: bold;
   text-decoration: none;
}

a.hyperlink:link{
    color: lightskyblue;
}

a.hyperlink:visited {
    color: lightslategray;
}